@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">لوحة تحكم تطبيق مضمون</h1>
    <p>تسجيل الدخول <a href="/Admin">ال لوحة التحكم</a>.</p>
    <a asp-controller="User" asp-action="LogOut">LOGOUT</a>
</div>
